// Mixins in here



.button (@width, @background, @color, @text-align, @font-size, @height, @border-radius) {
 width: @width;
 background: @background;
 color: @color;
 text-align: @text-align;
 font-size: @font-size;
 height: @height;
 border-radius: @border-radius;
 padding-top: 10px;
 cursor: pointer;
}
