// Navigation Styles here

.navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 20px 0; 

    @media(max-width: 500px) {
        width:100%;
        flex-direction: column;
        margin: auto;
        align-items: center;
    }

        a {
            text-decoration: none;
            font-size: 15px;
            color: #212529;
            margin: 0px 15px;

            
        }
        a:first-child {
            margin-left: 358px;
        }
    
}