// Navigation Styles here

.navigation {
    display: flex;
    justify-content: space-between;
    // .full-width;
    align-items: center;
    // .border;

    nav {
        justify-content: space-around;
        display: flex;

        a {
            text-decoration: none;
            color: @font-color;
        }
    }
}